= simple_form_for(@socio) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nombre

    - unless @socio.persisted?
      = f.simple_fields_for :usuario do |fu|
        = fu.input :email
        = fu.input :password
        = fu.input :password_confirmation

  .form-actions.pull-right
    = f.button :submit
    = link_to 'Cancelar', socios_path, class: 'btn btn-danger'
