%h2
  %i.fa.fa-user
  &nbsp;
  Detalles de Socio

%hr

.form-horizontal
  .form-group
    %label.col-sm-3.control-label
      Nombre:
    .col-sm-9
      %p.form-control-static
        = @socio.nombre
  .form-group
    %label.col-sm-3.control-label
      Usuario:
    .col-sm-9
      %p.form-control-static
        = @socio.usuario
  .form-group
    %label.col-sm-3.control-label
      Monto total:
    .col-sm-9
      %p.form-control-static
        = number_to_currency @socio.monto_tope
  .form-group
    %label.col-sm-3.control-label
      Monto reservado:
    .col-sm-9
      %p.form-control-static
        = number_to_currency @socio.monto_reservado(Prevision.activa)
  .form-group
    %label.col-sm-3.control-label
      Monto disponible:
    .col-sm-9
      %p.form-control-static
        = number_to_currency @socio.monto_disponible(Prevision.activa)
  .form-group
    %label.col-sm-3.control-label
      Monto gastado:
    .col-sm-9
      %p.form-control-static
        = number_to_currency @socio.monto_gastado_de_prevision(Prevision.activa)
      .form-group
        - @socio.apartados_prevision_activa.each do |apartado|
          .form-group
            %label.col-sm-3.control-label
              = apartado
            .col-sm-9
              %p.form-control-static
                = mostrar_montos(monto: apartado.monto_gastado_por_socio(@socio), monto_limite: apartado.monto_maximo)

.pull-right
  = link_to socios_path, class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Regresar
  /
  = link_to edit_socio_path(@socio), class: 'btn btn-primary' do
    %i.fa.fa-edit
    Modificar
