%h2
  %i.fa.fa-user
  &nbsp;
  Detalles de Socio

%hr

%h3
  = @socio.nombre
  %small= @socio.usuario
.row
  .col-md-3
    .panel.panel-default
      .panel-heading
        Monto total
      .panel-body
        %h4.pull-right= number_to_currency @socio.monto_tope(prevision: @prevision)
  .col-md-3
    .panel.panel-default
      .panel-heading
        Monto gastado
        #link-detalles-monto-gastado.pull-right= link_to "[+]"
      .panel-body
        %h4.pull-right
          = number_to_currency @socio.monto_gastado_de_prevision(@prevision)
      .clearfix
      %ol.list-group#detalles-monto-gastado
        - @socio.apartados_de_prevision(@prevision).each do |apartado|
          %li.list-group-item
            %b= apartado
            %p{ align: "right" }
              = mostrar_montos(monto: apartado.monto_gastado_por_socio(@socio), monto_limite: apartado.monto_maximo)
  .col-md-3
    .panel.panel-default
      .panel-heading
        Monto reservado:
      .panel-body
        %h4.pull-right= number_to_currency @socio.monto_reservado(@prevision)
  .col-md-3
    .panel.panel-default
      .panel-heading
        Monto disponible:
      .panel-body
        %h4.pull-right= number_to_currency @socio.monto_disponible(@prevision)
      .clearfix
      %ol.list-group#detalles-monto-reservado

.pull-right
  = link_to socios_path, class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Regresar
  /
  = link_to edit_socio_path(@socio), class: 'btn btn-primary' do
    %i.fa.fa-edit
    Modificar
