%h2
  %i.fa.fa-user
  &nbsp;
  Detalles de Socio

%hr

.form-horizontal
  .form-group
    %label.col-sm-3.control-label
      Nombre:
    .col-sm-9
      %p.form-control-static
        = @socio.nombre
  .form-group
    %label.col-sm-3.control-label
      Usuario:
    .col-sm-9
      %p.form-control-static
        = @socio.usuario
  .form-group
    %label.col-sm-3.control-label
      Monto gastado/Monto total:
    .col-sm-9
      %p.form-control-static
        = number_to_currency @socio.monto_gastado
        \/
        = number_to_currency @socio.monto_tope

  .form-group
    - @socio.apartados.each do |apartado|
      .form-group
        %label.col-sm-3.control-label
          = apartado
        .col-sm-9
          %p.form-control-static
            = number_to_currency apartado.monto_gastado_por_socio(@socio)
            \/
            = number_to_currency apartado.monto_maximo

.pull-right
  = link_to socios_path, class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Regresar
  = link_to edit_socio_path(@socio), class: 'btn btn-primary' do
    %i.fa.fa-edit
    Modificar
