%h2
  %i.fa.fa-user
  &nbsp;
  Detalles de Socio

%hr

%h3
  = @socio.nombre
  %small= @socio.usuario
.row.mb-3
  .col-md-3
    .card
      .card-header
        Monto total
      .card-block
        %h4.pull-right= number_to_currency @socio.monto_tope(prevision: prevision_activa)
  .col-md-3
    .card
      .card-header
        Monto gastado
        #link-detalles-monto-gastado.float-right= link_to "[+]"
      .card-block
        %h4.pull-right
          = number_to_currency @socio.monto_gastado_de_prevision(prevision_activa)
      %ol.list-group.list-group-flush#detalles-monto-gastado
        - @socio.apartados_de_prevision(prevision_activa).each do |apartado|
          %li.list-group-item
            %b= apartado
            %p{ align: "right" }
              = mostrar_montos(monto: apartado.monto_gastado_por_socio(@socio), monto_limite: apartado.monto_maximo)
  .col-md-3
    .card
      .card-header
        Monto reservado:
      .card-block
        %h4.pull-right= number_to_currency @socio.monto_reservado(prevision_activa)
  .col-md-3
    .card
      .card-header
        Monto disponible:
      .card-block
        %h4.pull-right= number_to_currency @socio.monto_disponible(prevision_activa)
      %ol.list-group.list-group-flush#detalles-monto-reservado

.float-right
  = link_to socios_path, class: 'btn btn-secondary' do
    %i.fa.fa-arrow-left
    Regresar
  /
  = link_to edit_socio_path(@socio), class: 'btn btn-primary' do
    %i.fa.fa-edit
    Modificar
