.pull-right
  = link_to new_comision_path, class: 'btn btn-lg btn-primary' do
    %i.fa.fa-plus
    Nueva Comisión

%h1
  %i.fa.fa-credit-card
  &nbsp;
  Comisiones

%hr

%table.table
  %thead
    %tr
      %th Monto
      %th Descripción
      %th Fecha
      %th Previsión
      %th Fecha de reposición
      %th Comentario
      %th Acciones
      
  %tbody
    - @comisiones.each do |comision|
      %tr{ class: ccs_class_for_payable(comision) }
        %td= number_to_currency comision.monto
        %td= comision.descripcion
        %td= l comision.fecha, format: :short if comision.fecha
        %td= comision.prevision
        %td= l comision.fecha_reposicion, format: :short if comision.fecha_reposicion
        %td= mostrar_comentario comision.comentario
        %td
          .btn-group
            = link_to comision, class: 'btn btn-sm btn-secondary', title: 'Detalles' do
              %i.fa.fa-search-plus
            = link_to edit_comision_path(comision), class: 'btn btn-sm btn-secondary', title: 'Modificar' do
              %i.fa.fa-edit
            = link_to comision, method: :delete, data: { confirm: '¿Estás seguro de borrarlo?'}, class: 'btn btn-sm btn-danger', title: 'Eliminar' do
              %i.fa.fa-trash
