%h2
  %i.fa.fa-credit-card
  Detalles de la Comisi贸n

%hr

.form-horizontal
  .form-group
    %label.col-sm-3.control-label
      Monto:
    .col-sm-9
      %p.form-control-static
        = number_to_currency @comision.monto
  .form-group
    %label.col-sm-3.control-label
      Descripci贸n:
    .col-sm-9
      %p.form-control-static
        = @comision.descripcion
  .form-group
    %label.col-sm-3.control-label
      Fecha:
    .col-sm-9
      %p.form-control-static
        = l @comision.fecha, format: :long
  .form-group
    %label.col-sm-3.control-label
      Previsi贸n:
    .col-sm-9
      %p.form-control-static
        = @comision.prevision
  .form-group
    %label.col-sm-3.control-label
      Fecha de reposici贸n:
    .col-sm-9
      %p.form-control-static
        = l @comision.fecha_reposicion, format: :long if @comision.fecha_reposicion
  .form-group
    %label.col-sm-3.control-label
      Comentario:
    .col-sm-9
      %p.form-control-static
        = @comision.comentario

= link_to comisiones_path, class: 'btn btn-default' do
  %i.fa.fa-arrow-left
  Regresar
= link_to edit_comision_path(@comision), class: 'btn btn-primary' do
  %i.fa.fa-edit
  Modificar
