= simple_form_for(@rubro) do |f|
  = f.error_notification

  .form-inputs
    = f.input :nombre
    = f.association :agrupador
    .row
      .col-md-6
        = f.input :descripcion, input_html: { rows: 15 }
      .col-md-6
        .form-group
          %label.control-label Vista previa
          #descripcion-html

  .form-actions.pull-right
    = f.button :submit
    = link_to 'Cancelar', rubros_path, class: 'btn btn-danger'
