%h2
  %i.fa.fa-archive
  &nbsp;
  Detalles de Rubro

%hr

.panel.panel-default
  .panel-heading
    %i.fa.fa-list-alt
    &nbsp;
    Descripción
  .panel-body.form-horizontal
    .row
      .form-group.col-md-6
        %label.col-sm-3.control-label
          Nombre:
        .col-sm-9
          %p.form-control-static
            = @rubro.nombre
      .form-group.col-md-6
        %label.col-sm-3.control-label
          Agrupador:
        .col-sm-9
          %p.form-control-static
            = @rubro.agrupador
  .panel-body
    = markdown @rubro.descripcion

.pull-right
  = link_to rubros_path, class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Regresar
  = link_to edit_rubro_path(@rubro), class: 'btn btn-primary' do
    %i.fa.fa-edit
    Modificar
