.pull-right
  = link_to new_proveedor_path, class: 'btn btn-lg btn-primary' do
    %i.fa.fa-plus
    Nuevo Proveedor

%h1
  %i.fa.fa-amazon
  &nbsp;
  Proveedores

%hr

%table.table
  %thead
    %tr
      %th Nombre
      %th Rfc
      %th Acciones
      
  %tbody
    - @proveedores.each do |proveedor|
      %tr
        %td= proveedor.nombre
        %td= proveedor.rfc
        %td
          .btn-group
            = link_to proveedor, class: 'btn btn-sm btn-secondary', title: 'Detalles' do
              %i.fa.fa-search-plus
            = link_to edit_proveedor_path(proveedor), class: 'btn btn-sm btn-secondary', title: 'Modificar' do
              %i.fa.fa-edit
            = link_to proveedor, method: :delete, data: { confirm: '¿Estás seguro de borrarlo?'}, class: 'btn btn-sm btn-danger', title: 'Eliminar' do
              %i.fa.fa-trash
