%h2
  %i.fa.fa-bicycle
  &nbsp;
  Detalles de Apartado

%hr

.form-horizontal
  .form-group
    %label.col-sm-3.control-label
      Rubro:
    .col-sm-9
      %p.form-control-static
        = @apartado.rubro
  .form-group
    %label.col-sm-3.control-label
      Prevision:
    .col-sm-9
      %p.form-control-static
        = @apartado.prevision
  .form-group
    %label.col-sm-3.control-label
      Monto máximo por socio:
    .col-sm-9
      %p.form-control-static
        = number_to_currency @apartado.monto_maximo
  .form-group
    - @apartado.socios.each do |socio|
      .form-group
        %label.col-sm-3.control-label
          = socio
        .col-sm-9
          %p.form-control-static
            = number_to_currency socio.monto_gastado(@apartado)

.pull-right
  = link_to root_path, class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Regresar
