= simple_form_for(@gasto) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        %fieldset
          %legend Información del pago
          = f.association :socio
          = f.association :apartado
          = f.input :monto
          = f.input :metodo_pago, collection: Gasto.metodo_pagos.keys
          = f.input :fecha, as: :datepicker
      .col-md-6
        %fieldset
          %legend Información adicional
          = f.input :factura_xml
          = f.input :factura_pdf
          = f.input :solicitud
          = f.association :proveedor
          = f.input :descripcion

  .form-actions.pull-right
    = f.button :submit
    = link_to 'Cancelar', gastos_path, class: 'btn btn-danger'
