= simple_form_for(@gasto) do |f|
  = f.error_notification

  .form-inputs
    .row
      .col-md-6
        %fieldset
          %legend Información del pago
          = f.association :socio, collection: Socio.de_prevision_activa
          = f.input :fecha, as: :datepicker
          = f.association :apartado, collection: Apartado.para_seleccionar_en_gasto
          = f.input :monto
          = f.input :iva
          = f.input :total
          = f.input :metodo_pago, collection: Gasto.metodo_pagos.keys
      .col-md-6
        %fieldset
          %legend Información adicional
          = f.input :factura_xml
          = f.input :factura_pdf
          = f.input :solicitud
          = f.association :proveedor
          = f.input :descripcion
          = f.input :descontar_de_reservado, as: :boolean

  .form-actions.pull-right
    = f.button :submit
    = link_to 'Cancelar', gastos_path, class: 'btn btn-danger'
