.pull-right
  = link_to new_gasto_path, class: 'btn btn-lg btn-primary' do
    %i.fa.fa-plus
    Nuevo Gasto

%h1
  %i.fa.fa-dollar
  &nbsp;
  Gastos

%hr

%table.table
  %thead
    %tr
      %th Fecha
      %th Socio
      %th Apartado
      %th Monto
      %th XML
      %th PDF
      %th Solicitud
      %th Acciones

  %tbody
    - @gastos.each do |gasto|
      %tr
        %td= gasto.fecha
        %td= gasto.socio
        %td= gasto.apartado
        %td= number_to_currency gasto.monto
        %td= mark_for gasto.factura_xml?
        %td= mark_for gasto.factura_pdf?
        %td= mark_for gasto.solicitud?
        %td
          .btn-group
            = link_to gasto, class: 'btn btn-sm btn-default', title: 'Detalles' do
              %i.fa.fa-search-plus
            = link_to edit_gasto_path(gasto), class: 'btn btn-sm btn-default', title: 'Modificar' do
              %i.fa.fa-edit
            = link_to gasto, method: :delete, data: { confirm: '¿Estás seguro de borrarlo?'}, class: 'btn btn-sm btn-danger', title: 'Eliminar' do
              %i.fa.fa-trash
