.pull-right
  = link_to new_gasto_path, class: 'btn btn-lg btn-primary' do
    %i.fa.fa-plus
    Nuevo gasto

%h1
  %i.fa.fa-dollar
  &nbsp;
  Gastos

%hr

%table.table.table-striped
  %thead
    %tr
      %th Fecha
      %th Socio
      %th Apartado
      %th Monto
      %th XML
      %th PDF
      %th Solicitud
      %th Acciones

  %tbody
    - @gastos.each do |gasto|
      %tr{ class: ccs_class_for_payable(gasto) }
        %td= l gasto.fecha, format: :short
        %td= gasto.socio
        %td= gasto.apartado
        %td= number_to_currency gasto.monto
        %td= link_to_file gasto, :factura_xml, format: :short
        %td= link_to_file gasto, :factura_pdf, format: :short
        %td= link_to_file gasto, :solicitud, format: :short
        %td
          .btn-group
            = link_to gasto, class: 'btn btn-sm btn-secondary', title: 'Detalles' do
              %i.fa.fa-search-plus
            = link_to edit_gasto_path(gasto), class: 'btn btn-sm btn-secondary', title: 'Modificar' do
              %i.fa.fa-edit
            = link_to gasto, method: :delete, data: { confirm: '¿Estás seguro de borrarlo?'}, class: 'btn btn-sm btn-danger', title: 'Eliminar' do
              %i.fa.fa-trash
