%h2
  %i.fa.fa-dollar
  &nbsp;
  Detalles del gasto

%hr

.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Información del gasto
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-3.control-label
            Fecha:
          .col-sm-9
            %p.form-control-static
              = l @gasto.fecha, format: :long
        .form-group
          %label.col-sm-3.control-label
            Socio:
          .col-sm-9
            %p.form-control-static
              = @gasto.socio
        .form-group
          %label.col-sm-3.control-label
            Apartado:
          .col-sm-9
            %p.form-control-static
              = @gasto.apartado
        .form-group
          %label.col-sm-3.control-label
            Monto:
          .col-sm-9
            %p.form-control-static
              = number_to_currency @gasto.monto
        .form-group
          %label.col-sm-3.control-label
            Metodo pago:
          .col-sm-9
            %p.form-control-static
              = @gasto.metodo_pago

  .col-md-6
    .panel.panel-default
      .panel-heading
        Información adicional
      .panel-body.form-horizontal
        .form-group
          %label.col-sm-3.control-label
            Factura xml:
          .col-sm-9
            %p.form-control-static
              = link_to_file @gasto, :factura_xml
        .form-group
          %label.col-sm-3.control-label
            Factura pdf:
          .col-sm-9
            %p.form-control-static
              = link_to_file @gasto, :factura_pdf
        .form-group
          %label.col-sm-3.control-label
            Solicitud:
          .col-sm-9
            %p.form-control-static
              = link_to_file @gasto, :solicitud
        .form-group
          %label.col-sm-3.control-label
            Proveedor:
          .col-sm-9
            %p.form-control-static
              = @gasto.proveedor
        .form-group
          %label.col-sm-3.control-label
            Descripcion:
          .col-sm-9
            %p.form-control-static
              = @gasto.descripcion

.pull-right
  = link_to gastos_path, class: 'btn btn-default' do
    %i.fa.fa-arrow-left
    Regresar
  &nbsp;
  = link_to edit_gasto_path(@gasto), class: 'btn btn-primary' do
    %i.fa.fa-edit
    Modificar
  &nbsp;
  = link_to new_gasto_path, class: 'btn btn-primary' do
    %i.fa.fa-plus
    Nuevo gasto
