= simple_nested_form_for(@prevision) do |f|
  = f.error_notification

  .row.form-inputs
    .col-md-4
      = f.input :fecha_inicial, as: :datepicker
    .col-md-4
      = f.input :fecha_final, as: :datepicker
    .col-md-4
      = f.input :monto

  %hr

  .row
    .col-md-6
      = render 'topes', f: f

    .col-md-6
      = render 'apartados', f: f

  .form-actions.pull-right
    = f.button :submit
    = link_to 'Cancelar', previsiones_path, class: 'btn btn-danger'
