.panel.panel-default
  .panel-heading
    Socios
    .pull-right
      = f.link_to_add :topes, class: 'btn btn-xs btn-success', data: { target: '#socios-prevision' } do
        %i.fa.fa-user-plus
        Agregar socio
  %table.table
    %thead
      %tr
        %th Nombre
        %th Monto
        %th
    %tbody#socios-prevision
      = f.simple_fields_for :topes, wrapper: false, defaults: { label: false, input_html: { class: 'form-control' } } do |fs|
        %tr.fields
          %td= fs.association :socio
          %td= fs.input :monto
          %td
            = fs.link_to_remove class: 'btn btn-sm btn-danger' do
              %i.fa.fa-times
