.pull-right
  = link_to new_prevision_path, class: 'btn btn-lg btn-primary' do
    %i.fa.fa-plus
    Nueva Previsión

%h1
  %i.fa.fa-bank
  &nbsp;
  Previsiones

%hr

%table.table
  %thead
    %tr
      %th Fecha inicial
      %th Fecha final
      %th Remanente
      %th Presupuestado
      %th Monto total
      %th Activa
      %th Acciones
      
  %tbody
    - @previsiones.each do |prevision|
      %tr{ id: prevision.id, class: prevision.activa? ? "success" : "" }
        %td= l prevision.fecha_inicial, format: :long
        %td= l prevision.fecha_final, format: :long
        %td= number_to_currency prevision.monto_remanente
        %td= number_to_currency prevision.monto_presupuestado
        %td= number_to_currency prevision.monto
        %td= mark_for prevision.activa?
        %td
          .btn-group
            = link_to prevision, class: 'btn btn-sm btn-default', title: 'Detalles' do
              %i.fa.fa-search-plus
            = link_to edit_prevision_path(prevision), class: 'btn btn-sm btn-default', title: 'Modificar' do
              %i.fa.fa-edit
            = link_to prevision, method: :delete, data: { confirm: '¿Estás seguro de borrarlo?'}, class: 'btn btn-sm btn-danger', title: 'Eliminar' do
              %i.fa.fa-trash
            - unless prevision.activa?
              = link_to prevision_activa_path(id: prevision), method: :put, class: 'btn btn-sm btn-primary', title: 'Activar' do
                %i.fa.fa-check-circle
