.col-md-12
  %h2 Estado de cuenta

.col-md-8
  = form_tag estado_cuenta_path, method: :get, class: "form-inline" do
    .form-group
      = label_tag :mes, "Mes", class: "sr-only"
      = text_field_tag :mes, params[:mes], placeholder: "Selecciona el mes"
    %label.form-check-label
      = check_box_tag :mas_iva, true, @mas_iva, class: "form-check-input"
      Incluir IVA
    = submit_tag "Filtrar por mes", class: "btn btn-primary"
    = link_to "Cancelar", estado_cuenta_path, class: "btn btn-danger"

.col-md-4
  %label Saldo inicial
  = number_to_currency estado_cuenta.saldo_a_inicio_fecha
  %label Saldo final
  = number_to_currency estado_cuenta.saldo_a_final_fecha

.row
%hr/

%table#estado_cuenta.table.table-striped.table-hover
  %thead
    %tr
      %th Fecha
      %th Descripción
      %th Método de pago
      %th Cargo
      %th Abono

  %tbody
    - estado_cuenta.each do |movimiento|
      %tr
        %td= movimiento.fecha
        %td= movimiento.descripcion
        %td= movimiento.metodo
        %td= number_to_currency movimiento.cargo
        %td= number_to_currency movimiento.abono
  %tfoot
    %tr
      %td Total
      %td
      %td
      %td= number_to_currency estado_cuenta.total_cargos
      %td= number_to_currency estado_cuenta.total_abonos

= link_to estado_cuenta_path(format: :xls), class: 'btn btn-lg btn-primary' do
  %i.fa.fa-file-excel-o
  Descargar xls
