%h1
  %i.fa.fa-heartbeat
  &nbsp;
  Panel de control

%hr

.row
  .col-md-12
    .panel.panel-default
      .panel-heading
        Montos generales
      .panel-body.form-horizontal
        .col-md-4
          .form-group
            %label.col-sm-6.control-label
              Monto total
            .col-sm-6
              %p.form-control-static
                = number_to_currency @prevision.monto
        .col-md-4
          .form-group
            %label.col-sm-6.control-label
              Monto depositado
            .col-sm-6
              %p.form-control-static
                = number_to_currency @prevision.monto_depositado
        .col-md-4
          .form-group
            %label.col-sm-6.control-label
              Monto gastado
            .col-sm-6
              %p.form-control-static
                = number_to_currency @prevision.monto_gastado
.row
  .col-md-6
    .panel.panel-default
      .panel-heading
        Montos por apartado
      .panel-body.form-horizontal
        - @prevision.apartados.includes(:gastos, :rubro).each do |apartado|
          .form-group
            %label.col-sm-6.control-label
              = link_to apartado, apartado
            .col-sm-6
              %p.form-control-static
                = number_to_currency apartado.suma_monto_gastado

  .col-md-6
    .panel.panel-default
      .panel-heading
        Montos por socio
      .panel-body.form-horizontal
        - Socio.all.each do |socio|
          .form-group
            %label.col-sm-6.control-label
              = link_to socio, socio
            .col-sm-6
              %p.form-control-static
                = number_to_currency socio.monto_gastado_de_prevision(@prevision)
                \/
                = number_to_currency socio.tope.monto

%hr/

= link_to estado_cuenta_path, class: 'btn btn-lg btn-primary' do
  %i.fa.fa-table
  Ver Estado de Cuenta
