= prevision = Prevision.first
- prevision.apartados.each do |apartado|
  = apartado
  = number_to_currency apartado.monto_gastado
%br/
Montos gastados por socios
- Socio.all.each do |socio|
  = socio
  = socio.gastos.joins(:apartado).where("apartados.prevision_id" => prevision.id).sum(:monto)
