= simple_form_for(@deposito) do |f|
  = f.error_notification

  .form-inputs
    = f.input :fecha, as: :datepicker
    = f.input :monto
    = f.input :descripcion
    = f.association :prevision
    = f.input :referencia
    = f.input :pago_de_comisiones_o_impuestos
    = f.association :gasto

  .form-actions
    = f.button :submit
    = link_to 'Cancelar', depositos_path, class: 'btn btn-danger'
