= simple_form_for(@deposito) do |f|
  = f.error_notification

  .form-inputs
    = f.input :fecha, as: :datepicker
    = f.input :monto
    = f.input :descripcion
    = f.association :prevision, selected: prevision_actual

  .form-actions
    = f.button :submit
    = link_to 'Cancelar', depositos_path, class: 'btn btn-danger'
