.pull-right
  = link_to new_deposito_path, class: 'btn btn-lg btn-primary' do
    %i.fa.fa-plus
    Nuevo Depósito

%h1
  %i.fa.fa-check-square-o
  &nbsp;
  Depósitos

%hr

%table.table
  %thead
    %tr
      %th Fecha
      %th Descripción
      %th Previsión
      %th Acciones
      %th Monto

  %tbody
    - @depositos.each do |deposito|
      %tr
        %td= l deposito.fecha, format: :short
        %td= deposito.descripcion
        %td= deposito.prevision
        %td= number_to_currency deposito.monto
        %td
          .btn-group
            = link_to deposito, class: 'btn btn-sm btn-default', title: 'Detalles' do
              %i.fa.fa-search-plus
            = link_to edit_deposito_path(deposito), class: 'btn btn-sm btn-default', title: 'Modificar' do
              %i.fa.fa-edit
            = link_to deposito, method: :delete, data: { confirm: '¿Estás seguro de borrarlo?'}, class: 'btn btn-sm btn-danger', title: 'Eliminar' do
              %i.fa.fa-trash
