%h2
  %i.fa
  &nbsp;
  Detalles de Deposito

%hr

.form-horizontal
  .form-group
    %label.col-sm-3.control-label
      Monto:
    .col-sm-9
      %p.form-control-static
        = @deposito.monto
  .form-group
    %label.col-sm-3.control-label
      Fecha:
    .col-sm-9
      %p.form-control-static
        = @deposito.fecha
  .form-group
    %label.col-sm-3.control-label
      Descripción:
    .col-sm-9
      %p.form-control-static
        = @deposito.descripcion
  .form-group
    %label.col-sm-3.control-label
      Previsión:
    .col-sm-9
      %p.form-control-static
        = @deposito.prevision
  .form-group
    %label.col-sm-3.control-label
      Referencia:
    .col-sm-9
      %p.form-control-static
        = @deposito.referencia
  .form-group
    %label.col-sm-3.control-label
      Pago de comisiones o impuestos:
    .col-sm-9
      %p.form-control-static
        = @deposito.pago_de_comisiones_o_impuestos
  .form-group
    %label.col-sm-3.control-label
      Gastos:
    .col-sm-9
      %p.form-control-static
        %ul
          - @deposito.gastos.each do |gasto|
            %li
              = gasto
    %label.col-sm-3.control-label
      Comisiones:
    .col-sm-9
      %p.form-control-static
        %ul
          - @deposito.comisiones.each do |comision|
            %li
              = comision

= link_to depositos_path, class: 'btn btn-default' do
  %i.fa.fa-arrow-left
  Regresar
= link_to edit_deposito_path(@deposito), class: 'btn btn-primary' do
  %i.fa.fa-edit
  Modificar
